{% extends "layout/base/base_success.html" %}

{# Metadata ##################################################################}
{% set page_name = "Sauvetages" %}
{% set page_description = "Page sauvetages." %}


{# Stylesheet ################################################################}
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}
{% block main %}
<h1>All sauveatges</h1>
{% endblock main %}