{% extends "layout/base/base_success.html" %}

{# Metadata ##################################################################}
{% set page_name = "Sauvetage" %}
{% set page_description = "Page sauvetage." %}


{# Stylesheet ################################################################}
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}
{% block main %}
<h1>sauvetage</h1>
{% endblock main %}