{% extends "layout/base/base_success.html" %}

{# Metadata ##################################################################}
{% set page_name = "Admin sauvetage" %}
{% set page_description = "Page Admin sauveatge." %}


{# Stylesheet ################################################################}
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}
{% block main %}
<h1>Admin sauvetage</h1>
{% endblock main %}