{% extends "layout/base/base_success.html" %}

{# Metadata ##################################################################}

{# Stylesheet ################################################################}
{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/@vtmn/css"/>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/@vtmn/icons/dist/vitamix/font/vitamix.css"/>
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap"
/>
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}
{% block main %}
{% endblock main %}