{% extends "layout/base/base.html" %}


{# Metadata ##################################################################}


{# Stylesheet ################################################################}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/layout/base/base_security.css')}}"/>
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}
{% block body %}
<header>
{% block header %}
{% include "layout/navbar.html" %}
{% endblock header %}
</header>

<aside>
{% block aside %}{% endblock aside %}
</aside>

<main class="container-fluid d-flex flex-fill p-4">
{% block main %}{% endblock main %}
</main>
{% endblock body %}