{% extends "layout/base/base_error.html" %}

{# Metadata ##################################################################}


{# Stylesheet ################################################################}
{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/page/error/error_401.css')}}"/>
{% endblock stylesheets %}


{# Script ####################################################################}


{# Display ###################################################################}